.wrapper {
    margin: 0 auto;
    max-width: 1140px;
}

.heading {
    margin-top: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
}